body{
    margin: 0px;
    padding: 0px;
}
section{
    width: 100%;
    min-height: 400px;
}
.wave{
    position: relative;
    background: linear-gradient(90deg,#f0027f,#75489f);
    opacity: 0.5;
    font-family: 'Calligraffitti', cursive;
    padding-top: 50px;
    font-size: 30px;
    color: aliceblue;
}
.wave:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 215px;
    background: url("wave.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
}
.div{
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: top;
    z-index: -1;
}

 canvas{
    border-radius: 15px;
    box-shadow: 5px 5px 8px dimgray;
    margin-top: 100px;
}
.button{
    background-image: linear-gradient(to right, royalblue 0%, rgb(117, 201, 230)  51%, royalblue  100%);
    border-color: deepskyblue;
    box-shadow: 5px 5px 8px dimgrey;
    width: 300px;
    border-radius: 15px;
    height: 7%;
    padding-top: 3px;
    opacity: 100%;
    margin-right: 100px;
}
.button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
 }